# Archivo .editorconfig principal
root = true

# Aplicar a todos los archivos C#
[*.cs]

# Convierte todas las reglas de análisis de "calidad de código" en advertencias
dotnet_analyzer_diagnostic.category-Performance.severity = warning
dotnet_analyzer_diagnostic.category-Security.severity = warning
dotnet_analyzer_diagnostic.category-Usage.severity = warning

# Convierte todas las reglas de "estilo de código" en advertencias
dotnet_analyzer_diagnostic.category-Style.severity = warning